@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    /* Colores */
    --main-black: #181717;
    --main-white: #F3F3F3;
    --main-grey: #606060;
    --bg: #FAF7F0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--bg);
}


header {
    width: 100%;
}

.menu {
    display:flex;
    padding: 16px;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
}

.menu-logo {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #000;
}


.menu-navbar{
    align-self: center;
    display: none;
}

.menu-navbar ul {
    display:flex;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -3%;
}


.menu-navbar ul li a {
    color:var(--main-black);
    margin-left: 35px;
    display: flex;
    align-items: center;
}



.hero {
    width: 100%;
    padding: 16px;
    position: relative;
}

.hero img{
    width: 100%;
    max-width: 764px;
    position: relative;
    z-index: 6;
}

.hero h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;
    z-index: 5;
    position: relative;
    padding-top: 16px;
}

.hero p {
    margin-top: 24px;
    color: var(--main-grey);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;
}

.ellipse2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -12.5rem;
    top: 52rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(126, 55, 246, 0.5) 0%, rgba(191, 53, 142, 0) 90%);
    backdrop-filter: (199px);
}

.hero-pill {
    margin-top: 24px;
    text-align: center;
    background-color: var(--main-black);
    padding: 12px 32px 12px 32px;
    border-radius: 20px;
}
.hero-pill a {
    color:var(--main-white);
    padding: 12px 32px 12px 32px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.proyect-container {
    width: 100%;
    padding: 16px;
}

.project1 img {
    width: 100%;
    padding: 40px 0px 0px 0px;
    max-width: 764px;
}

.projects-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4.8rem;
    padding-top: 16px;
}


.project1 h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    padding-top: 16px;
}

.project1 p  {
    font-family:'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color:var(--main-grey);
    padding-top: 16px;
}

.project-pill {
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.project-pill a {
    padding: 6px 12px;
    background-color: var(--main-black);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--main-white);
    border-radius: 10px;
}

.project-pill h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--main-black);
    align-self: center;
    text-decoration: underline;
}

.division {
    align-self: center;
    margin-top: 40px;
    border: 1px solid black;
    padding: 0px 16px 0px 16px
}

.skills-container {
    width: 100%;
    padding: 0px 16px;
    margin-top: 64px;
}

.skills-container h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 500;
    color:var(--main-black)
}

.skills-container h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight:  500;
    line-height: 2.2rem;
    color:var(--main-black);
    text-decoration: underline;
    padding-top: 40px;
}

.skills-container p {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight:  500;
    line-height: 2.4rem;
    color:var(--main-black);
    padding-top: 24px;
}

.quote-section {
    width: 100%;
    padding: 0 16px;
    margin-top: 64px;
}

.quote-section h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 500;
    color:var(--main-black)
}

.quote-section h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 400;
    color: #883F16;
    padding-top: 24px;
    margin-bottom: 64px;
}

.contact-section {
    width: 100%;
    padding: 0px 16px 64px 16px;
}

.contact-section h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    line-height: 2.4rem;
    color: var(--main-black);
}

.contact-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 64px;
    justify-content:left;
}

.contact-nav ul li a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: var(--main-black);
    margin-right: 34px;
    display:flex;
    align-items: center;
}



@media (min-width: 1024px) {

    header {
        margin-top: 40px;
    }
    .menu-navbar {
        display: flex;
    }

    .menu{
        justify-content: space-around;
    }

    .hero {
        display:flex;
        flex-direction: row-reverse;
        padding: 40px 60px 0px 60px;
    }

    .hero-container {
        padding-right: 32px;
        position: relative;
        z-index: 10;
    }

    .hero-container h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 6rem;
    font-weight: 500;
    line-height: 6.4rem;
    z-index: 5;
    position: relative;
    }

    .hero-container p {
    margin-top: 24px;
    color: var(--main-grey);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.8rem;
    position: relative;
    z-index: 6;
    }

    .hero-pill {
        width:70%;
        margin: 24px auto;
        text-align: center;
        background-color: var(--main-black);
        padding: 12px 32px 12px 32px;
        border-radius: 20px;
    }
    .hero-pill a {
        color:var(--main-white);
        padding: 2px 2px 2px 2px;
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    .ellipse2 {
        position: absolute;
        width: 650px;
        height: 650px;
        left: -36.5rem;
        top: -16rem;
        background: radial-gradient(50% 50% at 50% 50%, rgba(126, 55, 246, 0.5) 30%, rgba(191, 53, 142, 0) 100%);
        backdrop-filter: (300px);
    }

    .proyect-container {
        width: 100%;
        padding: 88px 60px
    }

    .project1 {
        display:flex;
        flex-direction: row-reverse;
    }

    .project1 img {
        padding: 40px 0px 64px 0px;
        width: 50%;
        z-index: 20;
    }
    .projects-title {
        font-size: 4rem;
        padding: 0px 160px 0px 160px
    }
    .project1-container, .project2-container, .project3-container {
        padding: 100px 30px;
    }

    .project-pill {
        padding: 24px 24px;
        justify-content: space-evenly;
    }

    .project1 h3 {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }

    .project1 p {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    
    .skills-container {
        padding: 0px 160px;
    }

    .quote-section{
        padding: 0px 160px;
    }

    .contact-section {
        padding: 64px 160px 64px 160px;
    }

    .contact-nav {
        display:flex;
    }
    .contact-nav ul {
        display:flex;
        justify-content: end;
        flex-wrap: wrap;
    }


}

@media (min-width: 1440px) {
    .hero {
        display:flex;
        flex-direction: row-reverse;
        padding: 40px 240px 0px 240px;
    }


    .hero-pill a {
        color:var(--main-white);
        padding: 12px 32px 12px 32px;
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    .proyect-container {
        width: 100%;
        padding: 88px 160px
    }

    .project1-container, .project2-container, .project3-container {
        padding: 100px 50px;
    }

}

@media (min-width: 1536px) {
    .hero {
        padding: 40px 240px 0px 240px
    }

    .proyect-container {
        padding: 40px 240px 0px 240px
    }

    .skills-container {
        padding: 40px 240px 0px 240px
    }

    .quote-section {
        padding: 0px 240px
    }

    .contact-section {
        padding: 64px 240px 64px 240px
    }
    
    .contact-nav li a:hover {
        transition: .6s all;
        transform: scale(1.2);
    }
    
    .project-pill a:hover {
        transition: .6s all;
        transform: scale(1.1);
    }
}